body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: Fredoka;
}

/* Font Style: Fredoka One */
/* Darker Green: #71b956 ; 113, 185, 86, 1 */
/* Lighter Green: #8ec861; 142, 200, 97, 1 */
/* Darker Blue: #004463; 0, 68, 99, 1 */
/* Lighter Blue: #004463; 0, 68, 99, 0.866 */
/* Darker Pink: #c65b4b; 198, 91, 75, 1 */
/* Lighter Pink: #ff634b; 255, 99, 75, 1 */