@import "./custom.scss";

* {
    font-family: Fredoka;
}

.video{
    margin: $base__8;
}

.card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}

.login-form, .register-form{
    margin-top: $base__4;
    padding: $base__3;
}

.video-section{
    background-color: $brandPrimary;
}

.details-section{
    background-color: $light;
}

.details{
    padding: $base__3;
}

.details-header{
    padding: $base__2;
    background-color: rgb(232, 232, 232);
}

.materials-list{
    padding-top: $base;
    max-height: 45vh;
    overflow: scroll;
}

.bi-list{
    cursor: pointer;
    font-size: 1.5rem;
}

/* Font Style: Fredoka One */
/* Darker Green: #71b956 ; 113, 185, 86, 1 */
/* Lighter Green: #8ec861; 142, 200, 97, 1 */
/* Darker Blue: #004463; 0, 68, 99, 1 */
/* Lighter Blue: #004463; 0, 68, 99, 0.866 */
/* Darker Pink: #c65b4b; 198, 91, 75, 1 */
/* Lighter Pink: #ff634b; 255, 99, 75, 1 */